<section>
  <div class = "c-tittle">
<img src="../../../assets/Rick_and_Morty-tittle.png" alt="">
</div>
<img src="../../../assets/homepagephoto.png" alt="">
<!-- <button (click)="plusCounter()">Suma 1</button> -->
<div class="g-primeng-button">
<button pButton type="button" class="p-button-raised p-button-rounded">Im a button</button>
</div>
<!-- <span class="p-buttonset">
  <button pButton type="button" label="Save" icon="pi pi-check"></button>
  <button pButton type="button" label="Delete" icon="pi pi-trash"></button>
  <button pButton type="button" label="Cancel" icon="pi pi-times"></button>
</span> -->
</section>
