<div>
  <img src="../../../../assets/left-arrow.png" alt="left arrow" (click)="changePage(actualPage - 1)">
  <p>{{actualPage}}</p>
  <img src="../../../../assets/right-arrow.png" alt="right arrow" (click)="changePage(actualPage + 1)">
  </div>


<!--
<div>
<img src="../../../../assets/left-arrow.png" alt="left arrow" (click)="findCharacter(characters, actualPage -1)">
<p>{{actualPage}}</p>
<img src="../../../../assets/right-arrow.png" alt="right arrow" (click)="findCharacter(characters, actualPage +1)">
</div>
 -->

